<a href="https://colab.research.google.com/github/dnlrodrigues/analise_dados_python/blob/master/QuarentenasDados_Filme.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("Daniela")

Daniela

In [0]:
nome_do_filme = "Totoro"

In [5]:
print(nome_do_filme)

Totoro

In [6]:
nome_do_filme

'Totoro'

In [0]:
import pandas as pd

In [3]:
pd.read_csv("/home/dataset/movies.csv")

      movieId  ...                                       genres
0           1  ...  Adventure|Animation|Children|Comedy|Fantasy
1           2  ...                   Adventure|Children|Fantasy
2           3  ...                               Comedy|Romance
3           4  ...                         Comedy|Drama|Romance
4           5  ...                                       Comedy
...       ...  ...                                          ...
9737   193581  ...              Action|Animation|Comedy|Fantasy
9738   193583  ...                     Animation|Comedy|Fantasy
9739   193585  ...                                        Drama
9740   193587  ...                             Action|Animation
9741   193609  ...                                       Comedy

[9742 rows x 3 columns]

In [9]:
filmes =  pd.read_csv("/home/dataset/movies.csv")
#pd.read_csv devolve um dataframe então o filmes é um dataframe
filmes.head()
#?filmes #mostrar a documentacao deve-se colocar um ? na frente da variável, opção do jupiter

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]